{%extends 'base.html' %}
{% block head %}
<title>sign in</title>

{% endblock %} 
{% block body %}
<div class="Wrap_login">
    <div class="Login">
        <div class="login_right">
            <div class="login_title">Đăng nhập</div>
            <div class="login_form">
                <input type="email" placeholder="abc@gmail.com" />
                <input type="password" placeholder="password" />
                <button class="Btn_Login">Sign in</button>
                <div class="Text_login">Quên mật khẩu</div>
                <span>Bạn chưa có tài khoản? </span>
                <span class="Text_login">Tạo tài khoản</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}