.Card{
    & img{
        height: 200px;
        width: 200px;
    }
}
.NameProduct{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgb(56, 56, 61);
}
.Price_card{
    color: rgb(255, 66, 78);
    font-size: 16px;
    font-weight: 500;
}
